{% extends 'job_board/_base.html' %}
{% load humanize %}

{% block content %}
<div class="container mx-auto py-8">
    <ul class="space-y-6">
            <li class="bg-white shadow-md rounded-lg p-6">
                <div class="mb-4">

                    <button class="p-2 border border-orange-400"> <a href="{%url 'home' %}">Go back</a> </button>
                </div>
                <ul class="space-y-2">
                    <li class="text-gray-700">
                        <span class="font-medium">Company:</span> {{ posting.company }}
                    </li>
                    <li class="text-gray-700">
                        <span class="font-medium">Salary:</span> ${{ posting.salary|intcomma }}
                    </li>
                    <li class="text-gray-700">
                        <span class="font-medium">Active:</span> {{ posting.is_active|yesno:"Yes,No" }}
                    </li>
                    <li class="text-gray-700">
                        <span class="font-medium">Description:</span> {{ posting.description }}
                    </li>
                </ul>
            </li>
    </ul>
</div>
{% endblock content %}
