# Virtual environment
env/

# Python
*.pyc
__pycache__/

# Environment variables
.env

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# VSCode
.vscode/

# Mac
.DS_Store

# Pycharm
.idea/
